.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--bg--primary);
}

.nav-container__logo {
  width: 40rem;
  padding: 0 5rem;
}

.nav-container__links {
  display: flex;
  gap: 4rem;
  padding: 0 5rem;
}

.nav-text-container {
  display: flex;
  flex-direction: column;
  margin: 6rem auto 6.3rem auto;

  max-width: 67rem;
  font-size: 5.4rem;
  font-weight: bold;
}

strong {
  color: var(--color--secundary);
}

.nav-text-container__paragraph {
  margin-bottom: 5rem;
}

.header-btn-container {
  display: flex;
  margin: auto auto 3rem auto;
  justify-content: center;
  gap: 1.5rem;

  position: relative;
}

.header-btn-container__know-more,
.header-btn-container__contact-us {
  padding: 2rem 6rem;
  border-radius: 3rem 0 3rem 0;
  border: none;
  font-weight: 500;
}

.header-btn-container__know-more {
  color: white;
  background-color: var(--color--primary);
}

.header-btn-container__contact-us {
  border: 0.1rem solid #522771;
  color: var(--color--primary);
  background-color: white;
}

.header-phrase {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
}

span {
  font-weight: bold;
}

.header-slide {
  overflow: hidden;
}

.header-slide__img-slide {
  position: absolute;
  top: 0;

  background: url(https://64.media.tumblr.com/368d360aeaf96e8925e80a92b1844bbf/2b076c099460bb19-cb/s2048x3072/25ac60233d6ebeef7205b240c8a3029f8849ec2b.pnj);
  width: 99.1vw;
  height: 85vh;

  animation: slideshow 30s linear infinite;
  opacity: 50%;
  z-index: -1;
}

@keyframes slideshow {
  0% {
    background-position-x: 22vw;
  }
  100% {
    background-position-x: -200vw;
  }
}
