.feature-section {
  margin: auto;

  padding: 2rem;
  max-width: 130rem;
}

.feature-section__title {
  max-width: 62rem;

  color: var(--color--primary);
  font-weight: 500;
  font-size: 5.4rem;
}

.feature {
  display: flex;
  justify-content: center;

  gap: 2rem;
  margin-top: 8rem;
}

.feature-item-container {
  display: flex;
  gap: 4rem;
}

.feature-image {
  width: 5rem;
  margin-top: 0.5rem;
}

.feature-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-item__image {
  width: 5rem;
}

.feature-item-content {
  display: flex;
  flex-direction: column;
}

.feature-item__title {
  color: var(--color--secundary);
  font-weight: 500;
}

.feature-item__description {
  max-width: 60rem;
  color: var(--color--primary);
  margin-left: 9rem;
  margin-bottom: 5rem;
}

.feature-hero-image {
  max-width: 60rem;
  width: 100%;
  height: auto;
  margin-left: 5rem;
  margin-top: -7rem;
  
  border-radius: 2rem;
  -webkit-box-shadow: 38px 26px 96px -48px rgba(0,0,0,1);
  -moz-box-shadow: 38px 26px 96px -48px rgba(0,0,0,1);
  box-shadow: 38px 26px 96px -48px rgba(0,0,0,1);
}

@media (max-width: 1300px) {
  .feature-section__title {
    max-width: 55rem;

    font-size: 4.5rem;
  }

  .feature-item__description {
    max-width: 50rem;
  }

  .feature-hero-image {
    max-width: 50rem;
    width: 100%;
  }
}