* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color--primary: #522771;
  --color--secundary: #F29109;
  --bg--primary: #F9F9F9;
  --bg--secundary: #FFFBF5;
}

body {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg--primary)
}

.material-demonstration-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.material-demonstration-section__title {
  text-align: center;
  color: var(--color--primary);
  font-weight: 500;
  margin-bottom: 5rem;
}

.material-demonstration-section__img-container {
  display: flex;
  margin: auto;
  gap: 2rem;
}

.material-demonstration-section__img {
  width: 25rem;
  margin-bottom: 5rem;
}